{# Variables #}
{% if te_gender == 'పురుషుడు' %}
    {% set v1 = "నాయకుడు" %}
    {% set v2 = "జన్మించాడు" %}
    {% set v3 = "ఆయన" %}
    {% set v4 = "చేసుకున్నాడు" %}
    {% set v5 = "ఇతనికి" %}
    {% set v6 = "సభ్యుడిగా" %}
{% else %}
    {% set v1 = "నాయకురాలు" %}
    {% set v2 = "జన్మించింది" %}
    {% set v3 = "ఆమె" %}
    {% set v4 = "చేసుకుంది" %}
    {% set v5 = "ఈమెకి" %}
    {% set v6 = "సభ్యురాలిగా" %}

{% endif %}

{# To get the Infobox #}
{%- macro get_infobox(te_name, images, birth_date, birth_place, te_father, te_mother, te_spouse, te_edu, te_profession, te_party, te_constituency) -%}
    {{-'{{Infobox officeholder'}} 
    {%- if te_name and te_name != 'None' -%}
        {{'\n| name = ' + te_name}}
    {%- endif -%}
    {%- if images and images != 'None' -%}
        {{'\n| image = ' + images}}
    {%- endif -%}
    {%- if birth_date and birth_date != 'None' -%}
        {{'\n| birth_date = ' + birth_date.strftime('%Y-%m-%d')}}
    {%- endif -%}
    {%- if birth_place and birth_place != 'None' -%}
        {{'\n| birth_place = ' + birth_place}}
    {%- endif -%}
    {%- if te_father and te_father != 'None' -%}
        {{'\n| father = ' + te_father}}
    {%- endif -%}
    {%- if te_mother and te_mother != 'None' -%}
        {{'\n| mother = ' + te_mother}}
    {%- endif -%}
    {%- if te_spouse and te_spouse != 'None' -%}
        {{'\n| spouse = ' + te_spouse}}
    {%- endif -%}
    {%- if te_edu and te_edu != 'None' -%}
        {{'\n| education = ' + te_edu}}
    {%- endif -%}
    {%- if te_profession and te_profession != 'None' -%}
        {{'\n| profession = ' + te_profession}}
    {%- endif -%}
    {%- if te_party and te_party != 'None' -%}
        {{'\n| party = ' + te_party}}
    {%- endif -%}
    {%- if te_constituency and te_constituency != 'None' -%}
        {{'\n| constituency = ' + te_constituency}}
    {%- endif -%}
    {{'\n}}\n'}}
{%- endmacro -%}

{# To get the Intro Line #}
{%- macro get_intro_line(te_name, te_state) -%}
    {{- te_name + '<ref> '+ references +' </ref>' +' '  + te_state + ' కు ' + ' చెందిన భారతీయ '+ '[https://te.wikipedia.org/wiki/రాజకీయవేత్త' + ' రాజకీయ ' +  v1 +']'+ '. ' -}}
{%- endmacro -%}


{# To get the  DOB Line #}
{%- macro get_dob_pob_line(te_name, birth_date, birth_place) -%}
    {%- if birth_date and birth_date != 'None' -%}
        {%- if birth_place and birth_place != 'None' -%}
            {{- te_name + ' '  + birth_date.strftime('%Y-%m-%d') + ' న '+ birth_place + 'లో ' + v2 + '. ' -}}
        {%- else -%}
            {{- te_name + ' '  + birth_date.strftime('%Y-%m-%d') + ' న ' + v2 + '. ' -}}
        {%- endif -%}
    {%- endif -%}
{%- endmacro -%}

{# To get the Father and Mother Line #}
{%- macro get_father_mother_line(te_father, te_mother) -%}
    {%- if te_father and te_father != 'None' -%}
        {%- if te_mother and te_mother != 'None' -%}
            {{- v3 + ' తండ్రి పేరు ' + te_father -}}
            {{- ', తల్లి పేరు ' + te_mother + '. ' -}}
        {%- else -%}
            {{- v3 + ' తండ్రి పేరు ' + te_father + '. ' -}}
        {%- endif -%}
    {%- else -%}
        {%- if te_mother and te_mother != 'None' -%}
            {{- v3 + ' తల్లి పేరు ' + te_mother + '. ' -}}
        {%- endif -%}
    {%- endif -%}
{%- endmacro -%}

{# To get the Marriage Line #}
{%- macro get_marriage_line(DateOfMarriage, te_spouse) -%}
    {%- if DateOfMarriage and DateOfMarriage != 'None' -%}
        {%- if te_spouse and te_spouse != 'None' -%}
            {{- v3 + ' ' + DateOfMarriage.strftime('%Y-%m-%d') +  ' న ' + te_spouse + 'ని వివాహం ' + v4 + '. ' -}}
        {%- else -%}
            {{- v3 + ' ' + DateOfMarriage.strftime('%Y-%m-%d') +  ' న వివాహం ' + v4 + '. ' -}}
        {%- endif -%}
    {%- else -%}
        {%- if te_spouse and te_spouse != 'None'  -%}
            {{-v3 + ' ' + te_spouse + ' ని వివాహం '+' చేసుకున్నారు '+'. ' -}}
        {%- endif -%}
    {%- endif -%}
{%- endmacro -%}

{# To get the Children Line #}
{%- macro get_children_line(noOfSons , noOfDaughters) -%}
    {%- if noOfSons|int > 0 and noOfDaughters|int > 0 -%}
        {%- if noOfSons == 1 and noOfDaughters == 1 -%}
            {{- v5 + ' 1 కొడుకు, 1 కుమార్తె ఉన్నారు. ' -}}
        {%- elif noOfSons == 1 and noOfDaughters > 1 -%}
            {{- v5 + ' 1 కొడుకు, ' + noOfDaughters|string  +' కుమార్తెలు ఉన్నారు. ' -}}
        {%- elif noOfSons > 1 and noOfDaughters == 1 -%}
            {{- v5 + ' ' + noOfSons|string  +  ' కొడుకులు, 1 కుమార్తె ఉన్నారు. ' -}}
        {%- else -%}
            {{- v5 + ' ' + noOfSons|string  +  ' కొడుకులు, ' + noOfDaughters|string  + ' కుమార్తెలు ఉన్నారు. ' -}}    
        {%- endif -%}
    {%- elif noOfSons|int > 0 and noOfDaughters|int == 0 -%}
        {%- if noOfSons == 1 -%}
            {{- v5 + ' 1 కొడుకు ఉన్నాడు. ' -}}
        {%- else -%}
            {{- v5 + ' ' + noOfSons|string +' కొడుకులు ఉన్నారు. ' -}}
        {%- endif -%}
    {%- elif noOfDaughters|int > 0 and noOfSons|int == 0 -%}
        {%- if noOfDaughters == 1 -%}
            {{- v5 + ' 1 కుమార్తె ఉంది. ' -}}
        {%- else -%}
            {{- v5 + ' ' + noOfDaughters|string +' కుమార్తెలు ఉన్నారు. ' -}}
        {%- endif -%}
    {%- endif -%}
{%- endmacro -%}


{# To get the constituency Line #}
{%- macro get_constituency_line(te_name, te_party, te_state, te_constituency, member) -%}
    {{- te_name + ' ' + te_party +  ' తరఫున ' + te_state + ' లోని ' + te_constituency + ' నియోజకవర్గానికి ప్రాతినిధ్యం వహిస్తూ ' + member|string + 'వ [https://te.wikipedia.org/wiki/%E0%B0%B2%E0%B1%8B%E0%B0%95%E0%B1%8D%E2%80%8C%E0%B0%B8%E0%B0%AD లోక్ సభ] '  + v6 + ' ఉన్నారు. ' -}}
{%- endmacro -%}

{# To get the References #}
{%- macro get_references(name) -%}
    {{'\n\n=ప్రస్తావనలు=\n\n<references />'}}
{%- endmacro -%}

{# To get the Categories #}
{%- macro get_categories(categories) -%}
    {%- for category in categories -%}
        {{category}}
    {%- endfor -%}
{%- endmacro -%}

{{- get_infobox(te_name, images, birth_date, birth_place, te_father, te_mother, te_spouse, te_edu, te_profession, te_party, te_constituency) -}}
{{- get_intro_line(te_name, te_state) -}}
{{'\n=వ్యక్తిగత జీవితము =\n' -}}
{{- get_dob_pob_line(te_name, birth_date, birth_place) -}}
{{- get_father_mother_line(te_father, te_mother) -}}
{{- get_marriage_line(DateOfMarriage, te_spouse) -}}
{{- get_children_line(noOfSons, noOfDaughters) -}}
{{'\n=రాజకీయ జీవితము =\n' -}}
{{- get_constituency_line(te_name, te_party, te_state, te_constituency, member) -}}
{{ get_references(name) -}}
{{ get_categories(categories) -}}

[[వర్గం:తెవికీ {{te_party}} రాజకీయ నాయకులు]]
[[వర్గం:తెవికీ లోక్ సభ సభ్యులు]]

