{# Variables #}
{% if Gender == 'పురుషుడు' %}
    {% set v1 = "నాయకుడు" %}
    {% set v2 = "జన్మించాడు" %}
    {% set v3 = "ఆయన" %}
    {% set v4 = "చేసుకున్నాడు" %}
    {% set v5 = "ఇతనికి" %}
    {% set v6 = "సభ్యుడిగా" %}
{% else %}
    {% set v1 = "నాయకురాలు" %}
    {% set v2 = "జన్మించింది" %}
    {% set v3 = "ఆమె" %}
    {% set v4 = "చేసుకుంది" %}
    {% set v5 = "ఈమెకి" %}
    {% set v6 = "సభ్యురాలిగా" %}

{% endif %}

{# To get the Infobox #}
{%- macro get_infobox(te_name, images, te_date, te_placeofbirth, father, mother, spouse, education, profession, te_party_name, constituency) -%}
    {{-'{{Infobox officeholder'}} 
    {%- if te_name and te_name != 'None' -%}
        {{'\n| name = ' + te_name}}
    {%- endif -%}
    {%- if images and images != 'None' -%}
        {{'\n| image = ' + images}}
    {%- endif -%}
    {%- if te_date and te_date != 'None' -%}
        {{'\n| birth_date = ' + te_date}}
    {%- endif -%}
    {%- if te_placeofbirth and te_placeofbirth != 'None' -%}
        {{'\n| birth_place = ' + te_placeofbirth}}
    {%- endif -%}
    {%- if father and father != 'None' -%}
        {{'\n| father = ' + father}}
    {%- endif -%}
    {%- if mother and mother != 'None' -%}
        {{'\n| mother = ' + mother}}
    {%- endif -%}
    {%- if spouse and spouse != 'None' -%}
        {{'\n| spouse = ' + spouse}}
    {%- endif -%}
    {%- if education and education != 'None' -%}
        {{'\n| education = ' + education}}
    {%- endif -%}
    {%- if profession and profession != 'None' -%}
        {{'\n| profession = ' + profession}}
    {%- endif -%}
    {%- if te_party_name and te_party_name != 'None' -%}
        {{'\n| party = ' + te_party_name}}
    {%- endif -%}
    {%- if constituency and constituency != 'None' -%}
        {{'\n| constituency = ' + constituency}}
    {%- endif -%}
    {{'\n}}\n'}}
{%- endmacro -%}

{# To get the Intro Line #}
{%- macro get_intro_line(te_name, state) -%}
    {{- te_name + ' '  + state + 'కు'+' చెందిన భారతీయ రాజకీయ ' + v1 + '. ' -}}
{%- endmacro -%}


{# To get the  DOB Line #}
{%- macro get_dob_pob_line(te_name, te_date, te_placeofbirth) -%}
    {%- if te_date and te_date != 'None' -%}
        {%- if te_placeofbirth and te_placeofbirth != 'None' -%}
            {{- te_name + ' '  + te_date + 'న'+ te_placeofbirth + 'లో ' + v2 + '. ' -}}
        {%- else -%}
            {{- te_name + ' '  + te_date + 'న ' + v2 + '. ' -}}
        {%- endif -%}
    {%- endif -%}
{%- endmacro -%}

{# To get the Father and Mother Line #}
{%- macro get_father_mother_line(father, mother) -%}
    {%- if father and father != 'None' -%}
        {%- if mother and mother != 'None' -%}
            {{- v3 + ' తండ్రి పేరు ' + father -}}
            {{- ', తల్లి పేరు ' + mother + '. ' -}}
        {%- else -%}
            {{- v3 + ' తండ్రి పేరు ' + father + '. ' -}}
        {%- endif -%}
    {%- else -%}
        {%- if mother and mother != 'None' -%}
            {{- v3 + ' తల్లి పేరు ' + mother + '. ' -}}
        {%- endif -%}
    {%- endif -%}
{%- endmacro -%}

{# To get the Marriage Line #}
{%- macro get_marriage_line(DateOfMarriage, spouse) -%}
    {%- if DateOfMarriage and DateOfMarriage != 'None' -%}
        {%- if spouse and spouse != 'None' -%}
            {{- v3 + ' ' + DateOfMarriage +  'న ' + spouse + 'ని వివాహం ' + v4 + '. ' -}}
        {%- else -%}
            {{- v3 + ' ' + DateOfMarriage +  'న వివాహం ' + v4 + '. ' -}}
        {%- endif -%}
    {%- endif -%}
{%- endmacro -%}

{# To get the Children Line #}
{%- macro get_children_line(noOfSons, noOfDaughters) -%}
    {%- if noOfSons > 0 and noOfDaughters > 0 -%}
        {%- if noOfSons == 1 and noOfDaughters == 1 -%}
            {{- v5 + ' 1 కొడుకు, 1 కుమార్తె ఉన్నారు. ' -}}
        {%- elif noOfSons == 1 and noOfDaughters > 1 -%}
            {{- v5 + ' 1 కొడుకు, ' + str(noOfDaughters) +' కుమార్తెలు ఉన్నారు. ' -}}
        {%- elif noOfSons > 1 and noOfDaughters == 1 -%}
            {{- v5 + ' ' + str(noOfSons) +  ' కొడుకులు, 1 కుమార్తె ఉన్నారు. ' -}}
        {%- else -%}
            {{- v5 + ' ' + str(noOfSons) +  ' కొడుకులు, ' + str(noOfDaughters) + ' కుమార్తెలు ఉన్నారు. ' -}}    
        {%- endif -%}
    {%- elif noOfSons > 0 and noOfDaughters == 0 -%}
        {%- if noOfSons == 1 -%}
            {{- v5 + ' 1 కొడుకు ఉన్నాడు. ' -}}
        {%- else -%}
            {{- v5 + ' ' + str(noOfSons) +' కొడుకులు ఉన్నారు. ' -}}
        {%- endif -%}
    {%- elif noOfDaughters > 0 and noOfSons == 0 -%}
        {%- if noOfDaughters == 1 -%}
            {{- v5 + ' 1 కుమార్తె ఉంది. ' -}}
        {%- else -%}
            {{- v5 + ' ' + str(noOfDaughters) +' కుమార్తెలు ఉన్నారు. ' -}}
        {%- endif -%}
    {%- endif -%}
{%- endmacro -%}


{# To get the constituency Line #}
{%- macro get_constituency_line(te_name, te_party_name, state, constituencyPlace, member) -%}
    {{- te_name + ' ' + te_party_name +  ' తరఫున ' + state + 'లోని ' + constituencyPlace + ' నియోజకవర్గానికి ప్రాతినిధ్యం వహిస్తూ ' + member + 'వ లోక్ సభ ' + v6 + ' ఉన్నారు. ' -}}
{%- endmacro -%}

{# To get the References #}
{%- macro get_references(name) -%}
    {{'\n\n==ప్రస్తావనలు==\n&lt;references /&gt;\n\n'}}
{%- endmacro -%}

{# To get the Categories #}
{%- macro get_categories(categories) -%}
    {%- for category in categories -%}
        {{category}}
    {%- endfor -%}
{%- endmacro -%}

{{- get_infobox(te_name, images, te_date, te_placeofbirth, father, mother, spouse, education, profession, te_party_name, constituency) -}}
{{- get_intro_line(te_name, state) -}}
{{'\n=వ్యక్తిగత జీవితము =\n' -}}
{{- get_dob_pob_line(te_name, te_date, te_placeofbirth) -}}
{{- get_father_mother_line(father, mother) -}}
{{- get_marriage_line(DateOfMarriage, spouse) -}}
{{- get_children_line(noOfSons, noOfDaughters) -}}
{{'\nరాజకీయ జీవితము =\n' -}}
{{- get_constituency_line(te_name, te_party_name, state, constituencyPlace, member) -}}
{{ get_references(name) -}}
{{ get_categories(categories) -}}
[[వర్గం:తెవికీ {{te_party_name}} రాజకీయ నాయకులు]]
[[వర్గం:తెవికీ లోక్ సభ సభ్యులు]]
